@model TestMVCSolution.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "New";
}

<h2>New Cutomer</h2>

@using (Html.BeginForm("Save", "Customers"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Customers.CustomerName)
        @Html.TextBoxFor(m => m.Customers.CustomerName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.BirthDate)
        @Html.TextBoxFor(m => m.Customers.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.MembeshipTypeId)
        @Html.DropDownListFor(m => m.Customers.MembeshipTypeId, new SelectList(Model.MembershipTypes, "Id", "MembershipType"), "", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customers.IsSubscibedToNewsLetter) Is Subscibed To NewsLetter
        </label>
    </div>
    @Html.HiddenFor(m => m.Customers.Id)
    <button type="submit" class="btn btn-primary"> Save </button>
}

